.item {
  margin-bottom: 20px;
}

.item .card:hover {
  transform: scale(1.05);
}

.item .card {
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.item .card-img-top {
  border-radius: 0;
}

.item .card-body {
  padding: 10px 0;
}

.item .card-body .card-title {
  text-align: start;
  font-size: 14px;
}

.item .card-body .item-price-old {
  color: #aaa;
  text-decoration: line-through;
}

@media (max-width: 1200px) {
  .item .card {
    width: 200px !important;
  }
}

@media (max-width: 992px) {
  .item .card {
    width: 150px !important;
  }
}

@media (max-width: 576px) {
  .item .card {
    width: 100px !important;
  }

  .item .card .card-body .card-text p {
    margin-bottom: 0;
  }

  .item .card-body .card-title {
    font-size: 12px;
  }

  .item .card-body .item-price-old,
  .item .card-body .item-price-new {
    font-size: 12px;
  }
}
